<header class="p-6 bg-gray-800 w-full">
    <div class="flex flex-row justify-between items-center mx-auto max-w-[1000px]">
        <a href="/" class="text-xl text-cyan-500">V-SAAS</a>
        <nav>
            <ul class="hidden md:flex flex-row items-center space-x-3">
                <li>
                    <a href="" class="text-cyan-500 hover:text-cyan-800">About</a>
                </li>
                <li>
                    <a href="" class="text-cyan-500 hover:text-cyan-800">Services</a>
                </li>
                <li>
                    <a href="" class="text-cyan-500 hover:text-cyan-800">Pricing</a>
                </li>
                <a href="" class="bg-cyan-500 rounded-xl p-2 text-slate-300">Sign Up</a>
                <a href="" class="bg-gray-500 rounded-xl py-2 px-3 text-slate-300">Login</a>
            </ul>
            
        </nav>
        <span class="material-symbols-outlined sm:hidden text-slate-300 font-bold">
            menu
        </span>
    </div>
</header>